body {
    background-color: antiquewhite;
    padding: 3em;
}

h1, h2 { 
    color: darkred;
    font-family: 'Oswald', sans-serif;
}

p {
    color: darkred;
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-family: 'Open Sans', sans-serif;
    background-color:  antiquewhite;
    color: darkred;
}

.fun {
    font-family: 'Rock 3D', cursive;
}